@import url('https://fonts.loli.net/css2?family=Ma+Shan+Zheng&family=Noto+Sans+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    background: radial-gradient(circle, rgba(123,145,255,1) 1%, rgba(255,195,208,1) 100%);;
    z-index: 0;
    transform: skewY(4deg);
    transform-origin: top right;
}

.skewed2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 210vh;
    background: #d4eaff;
    z-index: 0;
    transform: skewY(-4deg);
    transform-origin: top left;
  }

  @media (min-width: 1024px) { 
    .skewed2 {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #d4eaff;
        z-index: 0;
        transform: skewY(-4deg);
        transform-origin: top left;
      }
   }